@{
    ViewBag.Title = "TreeView";
}

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/Home/MyTree.js"></script>
}

<div id="content">
</div>